.form {
  display: flex;
  padding: 10px 0;
  flex: 1;

  > * {
    font-size: 18px;
    border: none;
    padding: 12px;
  }

  input {
    border-top-left-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
    color: var(--primaryText);
    flex: 1;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--lightGrey);
    }
  }

  button {
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    cursor: pointer;
    color: var(--primaryText);
    background-color: var(--background);
  }
}
