:root {
  --primaryText: #333333;
  --darkGrey: #666666;
  --lightGrey: #999999;
  --background: #eeeeee;
  --blue: #3483fa;
  --maxWidth: 1100px;
  --borderRadius: 4px;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--primaryText);
}

a {
  text-decoration: none;
  color: inherit;
}
